<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Edi</h1>
    
    <img src="images/<%=data.image %>" alt="<%=data.image %>"> 
    <form method="POST" action="/update">
        <input type="hidden" name="update_id" value="<%=data._id %>">
        <div>
            <input type="text" name="name" value="<%=data.name %>"> 
        </div>
        <div>
            <button type="submit">update</button>
            <a href="/manage">back</a>
        </div>
    </form>
</body>
</html>